{% extends "forms/base.html"  %}
{% load bootstrap %}
{% block content %}
    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
              <ul class="nav navbar-nav">
                <li><a href="/job">Домой</a></li>
                <li><a href="/addjob/">Добавить</a></li>
                <li class="active"><a href="/forms/profile">Личный кабинет</a></li>
                <li><a class="job-logout" href="/forms/logout/">Выход</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>
<body class="body-job">
<h1 class="h1-index">Birzha.kg</h1>
<div class="job-body">
    <p></p>
        <form action="/forms/password_change/" method="POST">
            {% csrf_token %}
            {{form.old_password|bootstrap}}
            {{form.new_password1|bootstrap}}
            {{form.new_password2|bootstrap}}
            <input class="btn job-btn" type="submit" value="Изменить" />
        </form>


</div>
</body>
{% endblock %}