{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'forms/js/bootstrap.js'%}">
</head>
<body class="indexbody">
<div class="indexbody">
{% block content %}
	<div class="index-job">
        <h1 class="h1-index">Birzha.kg</h1>
        		<form id="login_form" method="post" action="/forms/login/">
	    {% csrf_token %}
	    Имя пользователя: <input type="text" class="form-control-index" name="username" value="" size="50" />
	            <br />
	    Пароль: <input type="password" class="form-control-index" name="password" value="" size="50" />
	            <br />
	    	<input class="btn btn-index btn-lg active" type="submit" value="Вход" /><hr class='hr-index'/>
		            <a href="forms/registeration/" class="btn btn-index btn-lg active" role="button">Регистрация</a> <hr class='hr-index'/>
                    <a href="/forms/password_reset" ><button type="button" class="btn btn-index btn-lg active">Востоновить Пароль</button></a>
		</form>
	</div>
{% endblock %}
</div>
</body>


