{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'forms/js/bootstrap.js'%}">
</head>
<body>
<div class="indexbody">
<div class="jumbotron">
	<h2 class="h2shop">SearchJob</h2>
</div>
{% block content %}
	<div class="addjob-body">
		<form id="login_form" method="post" action="/forms/login/">
	    {% csrf_token %}
	    Username: <input type="text" class="form-control" name="username" value="" size="50" />
	            <br />
	    Password: <input type="password" class="form-control" name="password" value="" size="50" />
	            <br />

	    	<input type="submit" value="submit" />
		</form>
        Забыли пароль? Нажмите востонавить пароль!!!
        <a href="/forms/password_reset" ><button type="button" class="btn btn-profile">Востоновить Пароль</button></a>
	</div>
{% endblock %}
</div>
</body>

