{% load staticfiles %}
{% load bootstrap %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'forms/js/bootstrap.js'%}">
</head>
<body>
<div class="indexbody">
<div class="jumbotron">
	<h2 class="h2shop">SearchJob</h2>
</div>
{% block content %}
	<div class="addjob-body">
    <h1>Пароль будет востоновленным!!!</h1>

    <p>Что бы востоновить свой пароль перейдите в свою почту<br/>
         и проверте, в вашем почте должно быть собшение с сслкой для востоновление пароля. </p>
	</div>
{% endblock %}
</div>
</body>