{% extends "forms/base.html"  %}
{% load bootstrap %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                    <td>{{ form.new_password1|bootstrap }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                    <td>{{ form.new_password2|bootstrap }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}