
{% load staticfiles %}
{% load bootstrap %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'forms/js/bootstrap.js'%}">
</head>
<body>
<div class="indexbody">
<div class="jumbotron">
	<h2 class="h2shop">SearchJob</h2>
</div>
{% block content %}
	<div class="addjob-body">
    <p>Please specify your email address to receive instructions for resetting it.</p>

    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email|bootstrap }} <input type="submit" value="Reset password" />
    </form>
	</div>
{% endblock %}
</div>
</body>