{% load staticfiles %}
{% load bootstrap %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'forms/js/bootstrap.js'%}">
</head>
<body class="indexbody">
<div>
{% block content %}
	<div class="addjob-body">
         <h1 class="h1-index">Birzha.kg</h1>
			<form class="register" method="post" action="/forms/registeration/">
			{% csrf_token %}

			<h5> {{ form|bootstrap }}</h5><br/>
			<a class="btn btn-register btn-lg active" href="/forms/pravila">Прочиать правила сайта</a><hr class=" hr-index"/>
			<input type="submit" value="Регистрация" class="btn btn-register btn-lg active"/>
		</form>
	</div>
{% endblock %}
</div>
</body>